$font-stack: Helvetica, sans-serif;
$primary-color: #333;
$primary-background-color: #fff8dc;
$max-height: 600px;
$max-width: 800px;

body {
  height: $max-height * .9;
  width: $max-width * .9;
  font: 100% $font-stack;
  color: $primary-color;
  background-color: $primary-background-color;
  overscroll-behavior-y: none;
}

* {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;

  &:focus {
    outline: 0;
  }
}

#App {
  display: flex;
  flex-direction: column;
  align-content: space-between;
  min-height: 100vh;
}

#header {
  position: fixed;
  width: 100%;
  top: 0px;
  background-color: rgb(49, 158, 107);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#body {
  background-color: rgb(248, 249, 250);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
  padding: 20px;
}

#title {
  color: rgb(248, 249, 250);
  font-size: 22px;
  margin-left: 10px;
  font-weight: 200;
}

#infobox {
  background-color: rgb(248, 249, 250);
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-grow: 1;
  padding: 20px;
}

#footer {
  position: fixed;
  width: 100%;
  bottom: 0px;
  background-color: rgb(49, 158, 107);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/**
 * Conditionally rendered body content.
 */

#landing-box, #active-box {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

#code-display {
  margin: 60px 0px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: flex-start;
  flex-grow: 1;
  padding: 20;
  // overflow: hidden;
  border: 2px dotted green;
}
.code-wrapper {
  margin-left: 20px;
}

.invisible {
  display: none;
}

.delete-item:hover {
  border: 5px solid red;
}
.delete-item:hover .invisible {
  display: inline;
}

/**
 * Classes.
 */

.button {
  background-color: rgb(49, 158, 107);
  border: 1px solid rgb(248, 249, 250);
  margin: 10px;
  padding: 15px;
  border-radius: 4px;
  font-size: 16px;
  font-weight: 400;
  color: rgb(248, 249, 250);
  line-height: 8px;

  &:hover {
    background-color: rgb(248, 249, 250);
    color: rgb(49, 158, 107);
    transition: all 0.15s ease 0s;
  }
}

.disabled-button {
  background-color: rgb(106, 174, 143);
  border: 1px solid rgb(248, 249, 250);
  margin: 10px;
  padding: 15px;
  border-radius: 4px;
  font-size: 16px;
  font-weight: 400;
  color: rgb(248, 249, 250);
  line-height: 8px;
}

.text {
  color: black;
  font-size: 14px;
  margin-left: 10px;
  padding-top: 15px;
}

.white-text {
  color: white;
  font-size: 14px;
  margin-left: 10px;
}