$font-stack: Helvetica, sans-serif;
$primary-color: #333;
$primary-background-color: #fff8dc;
$max-height: 600px;
$max-width: 800px;

* {
  margin: 0;
  padding: 0;
  }

body {
  height: $max-height * .9;
  width: $max-width * .9;
  font: 100% $font-stack;
  color: $primary-color;
  background-color: $primary-background-color;
}

#App {
  display: flex;
  flex-direction: column;
  align-content: space-between;
  min-height: 100vh;
}

#header {
  background-color: rgb(49, 158, 107);
  display: flex;
  justify-content: space-between;
  align-items: center;
  //border: 1px solid rgb(49, 158, 107);
}

#title {
  color: rgb(248, 249, 250);
  font-size: 18px;
  margin-left: 10px;
}

.text {
  color: black;
  font-size: 14px;
  margin-left: 10px;
}

#body {
  background-color:rgb(248, 249, 250);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
}

#infobox {
  background-color: rgb(248, 249, 250);
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-grow: 1;
}

#footer {
  background-color: rgb(49, 158, 107);
  display: flex;
  justify-content: space-between;
  align-items: center;
  //border: 1px solid rgb(49, 158, 107);
}

#landing-box {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

#active-box {
  display: flex;
  flex-grow: 1;
}

#code-display {

}

.button {
  background-color: rgb(248, 249, 250);
    border: 1px solid rgb(49, 158, 107);
    margin: 10px;
    padding: 15px;
    border-radius: 4px;
    font-size: 16px;
    font-weight: 400;
    color: rgb(49, 158, 107);
    line-height: 8px;
}

.button:hover {
    background-color: rgb(49, 158, 107);
    color: white;
    transition: all .15s ease 0s
}